* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8eeff;
    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 767px) {
    body {
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
}

main {
    margin: 143px auto;
    background-color: #ffffff;
    width: 87.2%;
    padding: 1.5625rem;
    border-radius: 8px;
    box-shadow: 0px 32px 56px #51007620;
}

@media screen and (min-width: 767px) {
    main {
        max-width: 37.5rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 2.5rem;
        margin: 168px auto;
    }
}

h1,
button {
    color: #301534;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
h1 img {
    margin-right: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width: 767px) {
    h1 {
        font-size: 3.5rem;
    }
    h1 img {
        width: 40px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        margin-bottom: 2rem;
    }
}

button {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    background-color: transparent;
    text-align: left;
    min-height: 30px;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width: 767px) {
    button {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 770px) {
    button:hover {
        cursor: url('./assets/images/cursor.png'), pointer;
        transition: color 0.5s ease-in-out;
        color: #ad28eb;
    }
}

span {
    display: block;
}

.btn-title {
    width: calc(100% - 30px - 24px);
}

@media screen and (min-width: 1024px) {
    .btn-title {
        width: calc(100% - 30px);
    }
}

.icon_holder {
    background-image: url('./assets/images/icon-plus.svg');
    width: 30px;
    height: 31px;
}

.data-accordion-header[aria-expanded='true'] .icon_holder {
    background-image: url('./assets/images/icon-minus.svg');
}

.panel {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.panel:not([inert]) {
    max-height: 150px;
}

.panel p {
    padding-top: 1.5rem;
    font-size: 0.875rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.3125rem;
    color: #8b6990;
}

@media screen and (min-width: 767px) {
    .panel p {
        font-size: 1rem;
        line-height: 140%;
    }
}

hr {
    margin: 1.25rem 0rem;
    border: 1px solid #f8eeff;
    opacity: 60%;
}

@media screen and (min-width: 1024px) {
    hr {
        margin: 1.5rem 0rem;
    }
}
